/*
        Website Color Scheme:
        #0E0B16 - Background
        #A239CA - Pink Accents
        #4717F6 - Purple Main
        #E7DFDD - Foreground
*/

body {
        font-family: Arial Narrow, sans-serif;
        background-color: #0E0B16;
}

/* Text Colors (and Default Settings) */
h1 {
        color: #E7DFDD;  
}
h2 {
        color: #E7DFDD;  
}
h3 {
        color: #E7DFDD;  
}
p {
        color: #E7DFDD;  
}
a {
        color: #E7DFDD;
}

/* Text Classes */
.center {
        text-align: center;
}
.bold {
        font-weight: 900;
}
.mono {
        font-family: Courier, monospace;
}
/* Color Classes */
.pinkaccent {
        color: #A239CA;
}
.purplemain {
        color: #4717F6;
}

/* Background Cards */
.bg0 {
        width: 100px;
        height: 100px;
        position: absolute;
        top: 150;
        bottom: 0;
        left: 530;
        right: 0;
}
.bg1 {
        border-radius: 10px;
        background-color: #4717F6;
        position: absolute;
        float: left;
        margin-left: 10%;
        padding-top: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
}

/* Buttons */
.glow-on-hover {
        width: 220px;
        height: 50px;
        border: none;
        outline: none;
        color: #E7DFDD;
        background: #111;
        cursor: pointer;
        position: relative;
        z-index: 0;
        border-radius: 10px;
}
.glow-on-hover:before {
        content: '';
        background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
        position: absolute;
        top: -2px;
        left:-2px;
        background-size: 400%;
        z-index: -1;
        filter: blur(5px);
        width: calc(100% + 4px);
        height: calc(100% + 4px);
        animation: glowing 20s linear infinite;
        opacity: 0;
        transition: opacity .3s ease-in-out;
        border-radius: 10px;
}
.glow-on-hover:active {
        color: #000
}
.glow-on-hover:active:after {
        background: transparent;
}
.glow-on-hover:hover:before {
        opacity: 1;
}
.glow-on-hover:after {
        z-index: -1;
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: #111;
        left: 0;
        top: 0;
        border-radius: 10px;
}
@keyframes glowing {
        0% { background-position: 0 0; }
        50% { background-position: 400% 0; }
        100% { background-position: 0 0; }
}

/* Navigation-Bar */
.navbar {
        background-color: #0E0B16;
        overflow: hidden;
}
.navbar a {
        float: left;
        color: #E7DFDD;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
}
.navbar a:hover {
        background-color: #A239CA;
        color: #0E0B16;
}
.navbar a.active {
        background-color: #4717F6;
        color: #E7DFDD;
}
.topleft{
        font-weight: 900;
}